page-home {
    
  #floating-panel {
      background-color: transparent;
  }
  #infoLabel {
      
      bottom: 100px;
    font-size: 10px;
    color: black;
      background-color: white;
  }
    
    #button {
        bottom: 50px;
        margin-left: 25%;
        margin-right: 25%;
    }    
    
  #map {
    height: 100%;
    top: 0px;
    bottom: 0px;
  }




}